.nolink {
    color:white;
    background-color: rgba(43, 43, 43, 0.7);
    width: 350px;
    height:75px;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: -1px 1px 32px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 1px 32px 8px rgba(0,0,0,0.2);
    box-shadow: -1px 1px 32px 8px rgba(0,0,0,0.2);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.link-container {
    position: absolute;
    width:80%;
    top: 100px; /* Adjust top position as needed */
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

._link {
    display: inline-block;
    color: white;
    background-color: rgba(43, 43, 43, 0.7);
    width: 80%;
    height: 75px;
    text-align: center;
    border-radius: 10px;
    box-shadow: -1px 1px 32px 8px rgba(0, 0, 0, 0.2);
    margin: 10px 0; /* Adjust vertical spacing between .link elements */
}

._link a{
    color: white;
    text-decoration: none;
    display: block;
    font-size: 2rem;
    margin-top: 20px;
}

._link a:hover {
    text-decoration: underline;
}

._link a:active {
    text-decoration: underline;
}


@media (pointer:none), (pointer:coarse) {
    .content  {
        margin-top: 20%;
    }

}
