{% extends 'page.html' %}
{% block content %}
<div class="mypc">
<div class="title">My PC</div>
<p><b>Case: </b> 1stCOOL STEP 4,black</p>
<p><b>PSU: </b> Seasonic G12-GM-550 - 550W<br></p>
<p><b>Motherboard: </b> ASRock B550M-HDV<br></p>
<p><b>CPU: </b> AMD Ryzen 5 4600G<br></p>
<p><b>RAM: </b> Lexar Thor 32GB (2x16GB) DDR4 3600 CL18, white<br></p>
<p><b>GPU: </b> AMD Radeon RX 460 4GB GDDR5<br></p>
<p><b>System SSD: </b> Kingstone Kc3000 1 TB<br></p>
<p><b>Second SSD: </b> ADATA SU650 256 GB<br></p>
<p><b>HDD: </b>WD BLUE 1 TB<br></p>
</div>
{% endblock %}
{% block style %}mypc.css{% endblock %}
{% block _title %}My PC{% endblock %}
{% block _meta %}My PC{% endblock %}