{% extends 'page.html' %}
{% block content %}
<div class="block">
        <h2>Instagram</h2>
        <img class="icon" src="/static/img/social/instagram.svg" ><br>
        <a href="https://www.instagram.com/officialjanstraka/" target="_blank"><button class="arrow"><img src="/static/img/social/arrow.svg" ></button></a>
    </div>
    <div class="block">
        <h2>Youtube</h2>
        <img class="icon" src="/static/img/social/youtube.svg" ><br>
        <a href="https://www.youtube.com/@honzasko" target="_blank"><button class="arrow"><img src="/static/img/social/arrow.svg" ></button></a>
    </div>
    <div class="block">
        <h2>Steam</h2>
        <img class="icon" src="/static/img/social/steam.svg" ><br>
        <a href="https://steamcommunity.com/id/honzastr80" target="_blank"><button class="arrow"><img src="/static/img/social/arrow.svg" ></button></a>
    </div>
    <div class="block">
        <h2>Twitter</h2>
        <img class="icon" src="/static/img/social/twitter.svg" ><br>
        <a href="https://twitter.com/janstraka14" target="_blank"><button class="arrow"><img src="/static/img/social/arrow.svg" ></button></a>
    </div>
{% endblock %}
{% block style %}social.css{% endblock %}
{% block _title %}Social{% endblock %}